USE [ZXDelivery]
GO
/****** Object:  Table [dbo].[Sys_Entity]    Script Date: 09/30/2017 00:48:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Entity](
	[E_ProgID] [varchar](15) NULL,
	[E_Entity] [varchar](20) NULL,
	[E_Title] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Sys_Entity] ([E_ProgID], [E_Entity], [E_Title]) VALUES (N'ZXSOFT', N'', N'水泥销售系统')
INSERT [dbo].[Sys_Entity] ([E_ProgID], [E_Entity], [E_Title]) VALUES (N'ZXSOFT', N'MAIN_A02', N'系统日志')
INSERT [dbo].[Sys_Entity] ([E_ProgID], [E_Entity], [E_Title]) VALUES (N'ZXSOFT', N'MAIN_B02', N'客户管理')
/****** Object:  Table [dbo].[Sys_DataDict]    Script Date: 09/30/2017 00:48:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_DataDict](
	[D_ItemID] [int] NULL,
	[D_Entity] [varchar](35) NULL,
	[D_Title] [varchar](30) NULL,
	[D_Align] [smallint] NULL,
	[D_Width] [int] NULL,
	[D_Index] [int] NULL,
	[D_Visible] [smallint] NULL,
	[D_LangID] [varchar](12) NULL,
	[D_DBTable] [varchar](32) NULL,
	[D_DBField] [varchar](32) NULL,
	[D_DBIsKey] [smallint] NULL,
	[D_DBType] [smallint] NULL,
	[D_DBWidth] [smallint] NULL,
	[D_DBDecimal] [smallint] NULL,
	[D_FmtStyle] [smallint] NULL,
	[D_FmtData] [varchar](200) NULL,
	[D_FmtFormat] [varchar](100) NULL,
	[D_FmtExtMemo] [varchar](100) NULL,
	[D_FteDisplay] [varchar](50) NULL,
	[D_FteFormat] [varchar](50) NULL,
	[D_FteKind] [smallint] NULL,
	[D_FtePositon] [smallint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Sys_DataDict] ([D_ItemID], [D_Entity], [D_Title], [D_Align], [D_Width], [D_Index], [D_Visible], [D_LangID], [D_DBTable], [D_DBField], [D_DBIsKey], [D_DBType], [D_DBWidth], [D_DBDecimal], [D_FmtStyle], [D_FmtData], [D_FmtFormat], [D_FmtExtMemo], [D_FteDisplay], [D_FteFormat], [D_FteKind], [D_FtePositon]) VALUES (1, N'ZXSOFT_MAIN_M06', N'单据编号', 0, 60, 0, -1, N'', N'', N'B_ID', -1, 0, 0, 0, NULL, N'', N'', N'', N'合计：共0条', N'4', 3, NULL)
INSERT [dbo].[Sys_DataDict] ([D_ItemID], [D_Entity], [D_Title], [D_Align], [D_Width], [D_Index], [D_Visible], [D_LangID], [D_DBTable], [D_DBField], [D_DBIsKey], [D_DBType], [D_DBWidth], [D_DBDecimal], [D_FmtStyle], [D_FmtData], [D_FmtFormat], [D_FmtExtMemo], [D_FteDisplay], [D_FteFormat], [D_FteKind], [D_FtePositon]) VALUES (1, N'ZXSOFT_MAIN_L11', N'单号', 0, 60, 0, -1, N'', N'', N'T_ID', -1, 0, 0, 0, NULL, N'', N'', N'', N'合计：共0条', N'4', 3, NULL)
INSERT [dbo].[Sys_DataDict] ([D_ItemID], [D_Entity], [D_Title], [D_Align], [D_Width], [D_Index], [D_Visible], [D_LangID], [D_DBTable], [D_DBField], [D_DBIsKey], [D_DBType], [D_DBWidth], [D_DBDecimal], [D_FmtStyle], [D_FmtData], [D_FmtFormat], [D_FmtExtMemo], [D_FteDisplay], [D_FteFormat], [D_FteKind], [D_FtePositon]) VALUES (2, N'ZXSOFT_MAIN_M06', N'磁卡编号', 0, 70, 0, -1, N'', N'', N'B_Card', 0, 0, 0, 0, NULL, N'', N'', N'', N'', N'0', 0, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
